@import "tailwindcss";

@layer base {
    body {
        background-color: #232829;
        color: white;
    }
}

@theme {
    --color-header: #1d5b43;
    --color-main-background: #232829;
    --color-orange: #fdb056;
    --color-red: #fd5656;
    --color-green: #81fe95;
    --color-body: #232829;
    --color-text-button: #191e1f;
    --color-warranty: #dcdcdc;
    --color-down-border: #484d4e;
}
@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.animate-pulse {
    animation: pulse 0.5s ease-in-out infinite;
}

.animate-button {
    animation: pulse 1.5s ease-in-out infinite;
}

@layer components {
    /* // липкое меню */
    .sticky-nav {
        @apply sticky top-0 z-50 w-full border-b backdrop-blur;
    }
}
